* {
    box-sizing: border-box;  
}

  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    color: aquamarine;
}

header {
	width: 100%;
	height: 113px;
    position: relative;
    background-color: aquamarine;
    
}

.caja {
	width: 100%;
	float: right;
    margin-top:0px;
    background-color: #0fddc4;
    
}


.caja  ul {
   display: inline-block;
   margin: 0px;
   padding: 0px;
   margin:20px 100px;
   position: relative;
  
}

 .caja  ul a {
	
	margin: 10px;
	color: #ffffff;
	text-decoration: none;
    font-size: 20px;
}

/* seccion imagen */

.down {
    background-color: aquamarine;
    border: solid 1px blue;
    display: inline-block;
    
    
}

.dog {
    background-color: aquamarine;
    width: 100%;
    height: 500px;
    color: aquamarine;
}

#muv {
    text-align: center;
    border: solid 1px yellow;
 

}

/* iconos y parrafos  */
.iconos {
    text-align: right;
    border-radius: 40px;
    
    
}

i {
  color: #ffffff;
  font-size: 37px;
  border: none;
  border-radius: 50%;
}

.pe {
    color: #ffffff;
}

/* alinear contenedores */

.container  {
 display: inline-block;
 
}

.item {
    float: left;
    margin: 1em;
    padding: 1em;
}

.ajustar {
    width: 250px; 
    height: auto;
}

#left {
    text-align: right;
}

/* footer */

.gris {
    background-color: gray;
    height: 80px;
}




